/* about.css Christopher Esguerra 301483615 September 11, 2025 */

.about-section {
    font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5%;
}

.about-section p {
    color: rgb(189, 195, 201);
    width: 40rem;
    text-align: justify;
}

.about-section a {
    color: rgb(189, 195, 201);
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(94, 94, 94);
    border: 1px solid rgb(44, 44, 44);
    border-radius: 10%;
}

.about-section a:hover {
    color: rgb(163, 163, 163);
    text-decoration: underline;
}

.highlight {
    color: aliceblue;
}
