/* contact.css Christopher Esguerra 301483615 September 14, 2025 */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.ContactDesc{
     width: 50%;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
}

.form-input, .form-btn {
    width: 50%;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 1rem;
}

.form-label{
    width: 50%;
    text-align: left;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.contact-form textarea{
    height: 4rem;
}   


.form-btn:hover{
    background: transparent;
}
