/* project.css Christopher Esguerra 301483615 September 11, 2025 */

.project-section a:hover{
    border-radius: 20rem;
    background: transparent;
    text-decoration: none;
    
}

.project-section{
    background-color: transparent;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 20px;
    width: 50rem;
}

.project-section h2 {
    font-size: 2.5rem;
    width: 100vw;
    background-color: #292929;
    padding: 1rem;
    margin-bottom: 1rem;
    text-shadow: #000000 0px 1px 10px;
}

.project-section a{
    width: 30rem;
    height: auto;
    margin: 2rem;
    border: 2px solid #4d4d4d;
    padding:  1rem;
    border-radius: 20rem;
    color: rgb(73, 73, 73);
    text-decoration: none;
    background-color: rgb(141, 138, 135);
    box-shadow: #000000 0px 1px 10px;
}

.project-section img{
    object-fit: cover;
    max-width: fit-content;
    border: 2px black solid;
    width: 40rem;
    height: 25rem;
    border-radius: 15%;
}