/* service.css Christopher Esguerra 301483615 September 11, 2025 */

.service-section {
  width: 100vw;
  text-align: center;
  
  display: flex;
  flex-direction: column;
}

.service-section h1 {
  font-size: 2.5rem;
  background-color: #292929;
  margin-bottom: 1rem;
  text-shadow: #000000 0px 1px 10px;
}

.service-skill {
  font-size: 1.5rem;
  margin: 0.5rem;
  width: 8rem;
  height: 3rem;
  border: 2px solid #858484;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-skill:hover {
  background-color: #444;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.service-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;

}

.service-section img {
  width: 30rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.service-section img:hover {
  transform: scale(1.05);
}